@model IEnumerable<Web.Models.People>
@{
   ViewData["Title"] = "Pessoas - Listagem geral";
}
<h4 class="text-center">Lista de Pessoas</h4>
<p class="text-center mt-2 mb-2">
   <a asp-action="Create" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Novo</a>
</p>
<div class="table-responsive">


   <table class="table table-hover table-sm">
      <thead>
         <tr class="table-primary">
            <th scope="col" class="text-center text-truncate">
               @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col" class="text-center text-truncate">
               @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th scope="col" class="text-center text-truncate">
               @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th scope="col" class="text-center text-truncate">
               @Html.DisplayNameFor(model => model.Status)
            </th>
            <th scope="col" class="text-center text-truncate">...</th>
         </tr>
      </thead>
      <tbody>
         @foreach (var item in Model)
         {
            <tr>
               <td class="text-truncate">
                  @Html.DisplayFor(modelItem => item.Name)
               </td>
               <td class="text-center text-truncate">
                  @Html.DisplayFor(modelItem => item.CreatedAt)
               </td>
               <td class="text-right text-truncate">
                  @Html.DisplayFor(modelItem => item.Salary)
               </td>
               <td class="col-md-2 text-center text-truncate">
                  @Html.DisplayFor(modelItem => item.Status)
               </td>
               <td class="col-md-3 text-center text-truncate">
                  <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Alterar</a> |
                  <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm"><i class="bi bi-ticket-detailed"></i> Detalhes</a> |
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-recycle"></i> Excluir</a>
               </td>
            </tr>
         }
      </tbody>
   </table>
</div>